:root {
    --main-bg-color: #FFF8EC;
    --margins-bg-color: #FFB347;
    --headings-bg-color: #FFB347;

    --p-font-color: #8B5E3C;
    --h-font-color: #F4A300;

    --border-color: #8B5E3C;

    --btn-bg-color: #5C913B;
    --btn-font-color: #FF7F50;
}

.about-tab {
    background-color: var(--main-bg-color);
    text-align: center;
    padding: 2rem;
    border: solid 3px #8B5E3C;

}

.about-tab > h2 {
    color: var(--h-font-color);
    font-family: karla;
}

.about-tab > p {
    color: var(--p-font-color);
    font-family: yeseva;
}